<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAM 404</title>
</head>
<body>
    <h1>TRIVIAL COMPUTE</h1>
    <br>
    <p>Would you like to play a game?</p>
    <form action="play_game", method="GET">
        <p><input type="submit" name="play_button" value="yes"></input></p>
    </form>
    <form action="exit", method="GET">
        <p><input type="submit" name="play_button" value="no"></input></p>
    </form>
    <br>
    <p>Would you like to interact with the question database?</p>
    <form action="question_menu", method="GET">
        <p><button type="button">yes</button></p>
    </form>
</body>
</html>
